In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
vg_df=pd.read_csv('vgsales.csv',encoding='utf-8')
print(vg_df[['Name','Platform','Year','Genre','Publisher']].iloc[1:7])
genres=np.unique(vg_df['Genre'])
print(genres)
gle=LabelEncoder()
genre_labels=gle.fit_transform(vg_df['Genre'])
genre_mappings={index:label for index,label in enumerate(gle.classes_)}
print(genre_mappings)
vg_df['GenreLabel']=genre_labels
print(vg_df[['Name','Platform','Year','Genre','GenreLabel']].iloc[1:7])

                       Name Platform    Year         Genre Publisher
1         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo
5                    Tetris       GB  1989.0        Puzzle  Nintendo
6     New Super Mario Bros.       DS  2006.0      Platform  Nintendo
['Action' 'Adventure' 'Fighting' 'Misc' 'Platform' 'Puzzle' 'Racing'
 'Role-Playing' 'Shooter' 'Simulation' 'Sports' 'Strategy']
{0: 'Action', 1: 'Adventure', 2: 'Fighting', 3: 'Misc', 4: 'Platform', 5: 'Puzzle', 6: 'Racing', 7: 'Role-Playing', 8: 'Shooter', 9: 'Simulation', 10: 'Sports', 11: 'Strategy'}
                       Name Platform    Year         Genre  GenreLabel
1         Super Mario Bros.      NES  1985.0      Platform           4
2            Mario Kart Wii      Wii  2008.0        Racing           6
3         Wii Sports Resort      Wii  2009.0        Sports          10
4  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing           7
5                    Tetris       GB  1989.0        Puzzle           5
6     New Super Mario Bros.       DS  2006.0      Platform           4

In [8]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
poke_df=pd.read_csv('pokemon.csv',encoding='utf-8')
poke_df=poke_df.sample(random_state=1,frac=1).reset_index(drop=True)
print(np.unique(poke_df['Generation']))
gen_ord_map={'Gen1':1,'Gen2':2,'Gen3':3,'Gen4':4,'Gen5':5,'Gen6':6}
poke_df['GenerationLabel']=poke_df['Generation'].map(gen_ord_map)
print(poke_df[['Name','Generation','GenerationLabel']].iloc[1:10])

[1 2 3 4 5 6]
                  Name  Generation  GenerationLabel
1            Abomasnow           4              NaN
2              Sentret           2              NaN
3               Litleo           6              NaN
4            Octillery           2              NaN
5           Helioptile           6              NaN
6               Dialga           4              NaN
7  DeoxysDefense Forme           3              NaN
8             Rapidash           1              NaN
9               Swanna           5              NaN

In [10]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
gen_le=LabelEncoder()
gen_labels=gen_le.fit_transform(poke_df['Generation'])
poke_df['Gen_Label']=gen_labels
leg_le=LabelEncoder()
leg_labels=leg_le.fit_transform(poke_df['Legendary'])
poke_df['Lgnd_Label']=leg_labels
poke_df_sub=poke_df[['Name','Generation','Gen_Label','Legendary']]
poke_df_sub.iloc[4:10]

                  Name  Generation  Gen_Label  Legendary
4            Octillery           2          1      False
5           Helioptile           6          5      False
6               Dialga           4          3       True
7  DeoxysDefense Forme           3          2       True
8             Rapidash           1          0      False
9               Swanna           5          4      False

In [13]:
gen_onehot_features=pd.get_dummies(poke_df['Generation'])
pd.concat([poke_df[['Name','Generation']],gen_onehot_features],axis=1).iloc[4:10]

                  Name  Generation  1  2  3  4  5  6
4            Octillery           2  0  1  0  0  0  0
5           Helioptile           6  0  0  0  0  0  1
6               Dialga           4  0  0  0  1  0  0
7  DeoxysDefense Forme           3  0  0  1  0  0  0
8             Rapidash           1  1  0  0  0  0  0
9               Swanna           5  0  0  0  0  1  0

In [16]:
leg_ohe=OneHotEncoder()
leg_feature_arr=leg_ohe.fit_transform(poke_df[['Lgnd_Label']]).toarray()
leg_feature_labels=['Legendary_'+str(cls_label)for cls_label in leg_le.classes_]
leg_features=pd.DataFrame(leg_feature_arr,columns=leg_feature_labels)

In [15]:
gen_ohe=OneHotEncoder()
gen_feature_arr=gen_ohe.fit_transform(poke_df[['Gen_Label']]).toarray()
gen_feature_labels=list(gen_le.classes_)
gen_features=pd.DataFrame(gen_feature_arr,columns=gen_feature_labels)
poke_df_ohe=pd.concat([poke_df_sub,gen_features,leg_features],axis=1)
columns=sum([['Name','Generation','Gen_Label'],gen_feature_labels,['Legendary','Lgnd_Label'],leg_feature_labels],[])
poke_df_ohe[columns].iloc[4:10]

NameError: name 'leg_features' is not defined